html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background: #000;
  color: #ccc;
  display: grid;
  grid-template-columns: 70% 30%;
}

.logo {
  padding: 0 1em;
}

nav {
  align-self: center;
}

/* content has filter and map */
.content {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
  height: 95vh;
}

.filters {
  padding: 2em;
}

footer {
  background: #000;
  color: #ccc;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}



/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
