html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

label, p, h1, h2, h3, h4, h5 {
  margin: 0;
}

.header {
  color: #ccc;
  display: grid;
  grid-template-columns: 60% 40%;
}

.logo {
  padding: 1em;
}

nav {
  align-self: center;
  justify-self: right;
}

nav a {
  padding-right: 5em;
}

/* content has filter and map */
.content {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  height: 95vh;
}

.tab {
  background: #d6d6d6;
  padding: 1em 0.75em 0;
}

/* collisions, infrastructure, context */
.tablinks {
  background: #a8bbff;
  border: none;
  font-weight: 600;
  width: 49%;
}

.tablinks.active {
  background: #fff;
}

/* default view on collision tab*/
#infrastructure, #context {
  display: none;
}
#collision-tab {
  background: #2a6ddf;
  color: #fff;
}


.filters {
  /* padding: 2em; */
  background: #eeeeee;
}

.filter-criteria {
  padding: 0.75em 0.75em 0.15em 1em;
}

.sub-header {
  background: #2a6ddf;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 0.5em 2em;
}

.filter-title {
  background: #fff;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 0.5em 2em;
}

.filter-options {
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  padding-left: 2.5em;
}

.filter-options span {
  padding-left: 1em;
}

/* checkboxes */
input {
  border-radius: 0;
}


/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
